<h1>Add Recipe</h1>

<%= form_for(@recipe) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'fields', f: f %>

      <div class="form-group">
        <%= f.button "Create Recipe", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
