<h1>Add Recipe</h1>

<%# <%= form_for(setup_ingredients(@recipe)) do |f| %1> %>
<%= form_for(@recipe) do |f| %>
	<div class="row">
		<%= render 'fields', f: f %>
	</div>

	<div class="row">
		<%= f.submit "Create Recipe", class: 'btn btn-primary' %>
	</div>
<% end %>
