<% if object.errors.any? %>
	<div id="error_messages" class="alert alert-danger">
		<p>The following errors occurred while saving:</p>
		<ul>
			<% object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
