<% unless user_signed_in? %>
	<h1>Welcome to Food!</h1>
	<p>Don't have an account yet?</p>

	<%= link_to "Create account", new_user_registration_path, class: "btn btn-primary"%>
<% else %>
	<%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary" %>

	<h1>Your Recipes</h1>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Category</th>
		</tr>

		<% @recipes.each do |recipe| %>
			<tr>
				<td><%= link_to recipe.name, edit_recipe_path(recipe) %></td>
				<td><%= recipe.category %></td>
			</tr>
		<% end %>
<% end %>
