<h1>Create Grocery Trip</h1>

<div class="col-md-3">
  <h2>Select Recipes</h2>
  <div id="recipe_list" class="list-of-cards">
    <% @recipes.each do |recipe| %>
      <div class="card" data-recipe-id="<%= recipe.id %>">
        <div class="recipe-name">
          <%= recipe.name %>
        </div>
        <div class="recipe-controls">
          <span class="recipe-minus">-</span>
          <span class="recipe-count">
            0
          </span>
          <span class="recipe-plus">+</span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-3 col-md-offset-1">
  <h2>Grocery List</h2>
  <div id="grocery_list" class="list-of-cards">
  </div>
</div>

<script>
(function() {
  function addMeal() {
    var $card = $(this).parents('.card');
    var recipe_id = $card.data('recipe-id');
    var $count = $card.find('.recipe-count');
    var new_count = parseInt($count.html()) + 1;

    $.ajax( { url: '<%= grocery_trips_get_ingredients_url %>', 
              data: { recipe_id: recipe_id } 
    })
    .done(function(json) {
      var $groceryList = $('#grocery_list');

      $.each(json, function( index, el ) {
        var order = (el.order == null ? -1 : parseInt(el.order));

        var $liToAddBefore = findLiToAddBefore($groceryList, order);
        addNewLiToGroceryList($groceryList, $liToAddBefore, order, recipe_id, new_count, el.name);
      });

      $count.html(new_count);
    });
  }

  function removeMeal() {
    var $card = $(this).parents('.card');
    var recipe_id = $card.data('recipe-id');
    var $count = $card.find('.recipe-count');
    var current_count = parseInt($count.html());

    if(current_count > 0) {
      $('#grocery_list div[data-recipe-id=' + recipe_id + '][data-recipe-count=' + current_count + ']').remove();
      $count.html(current_count - 1);
    }
  }

  function findLiToAddBefore($groceryList, order) {
    var $higherLi = null;
    $groceryList.find('div').each(function(index, el) {
      var elOrder = parseInt($(el).data('order'));

      if(elOrder > order) {
        $higherLi = $(el);

        return false;
      }
    });

    return $higherLi;
  }

  function addNewLiToGroceryList($groceryList, $liToAddBefore, order, recipe_id, recipe_count, name) {
    var newLi = '<div class="card" data-order="' + order + 
      '" data-recipe-id="' + recipe_id + 
      '" data-recipe-count="' + recipe_count + 
      '">' + name + '</li>';

    // Add this li before the higher one
    if($liToAddBefore != null) {
      $liToAddBefore.before(newLi);
    }
    // If a higher one wasn't found, just add it to the end
    else {
      $groceryList.append(newLi);
    }
  }

  $('.recipe-plus').on('click', addMeal);
  $('.recipe-minus').on('click', removeMeal);
}());
</script>
