<h1>Create Grocery Trip</h1>

<div class="col-md-3">
	<h2>Meals to Cook</h2>
	<ul id="meal_list" class="sortable_list">
	</ul>
</div>
<div class="col-md-3 col-md-offset-1">
	<h2>My Recipes</h2>
	<ul id="recipe_list" class="sortable_list">
		<% @recipes.each do |recipe| %>
			<li data-recipe-id="<%= recipe.id %>">
				<%= recipe.name %>
			</li>
		<% end %>
	</ul>
</div>
<div class="col-md-3 col-md-offset-1">
	<h2>Grocery List</h2>
	<ol id="grocery_list" class="sortable_list">
	</ol>
</div>

<script>
(function() {
	function addMeal(e) {
		var recipe_id = $(e.item).data('recipe-id');

		$.ajax( { url: '<%= grocery_trips_get_ingredients_url %>', 
							data: { recipe_id: recipe_id } 
		})
		.done(function(json) {
			var $groceryList = $('#grocery_list');

			$.each(json, function( index, el ) {
				var order = (el.order == null ? -1 : parseInt(el.order));

				var $liToAddBefore = findLiToAddBefore($groceryList, order);
				addNewLiToGroceryList($groceryList, $liToAddBefore, order, recipe_id, el.name);
			});
		});
	}

	function removeMeal(e) {
			var recipe_id = $(e.item).data('recipe-id');

			$('#grocery_list li[data-recipe-id=' + recipe_id + ']').remove();
	}

	function findLiToAddBefore($groceryList, order) {
		var $higherLi = null;
		$groceryList.find('li').each(function(index, el) {
			var elOrder = parseInt($(el).data('order'));

			if(elOrder > order) {
				$higherLi = $(el);

				return false;
			}
		});

		return $higherLi;
	}

	function addNewLiToGroceryList($groceryList, $liToAddBefore, order, recipe_id, name) {
		var newLi = '<li data-order="' + order + '" data-recipe-id="' + recipe_id + '">' + name + '</li>';

		// Add this li before the higher one
		if($liToAddBefore != null) {
			$liToAddBefore.before(newLi);
		}
		// If a higher one wasn't found, just add it to the end
		else {
			$groceryList.append(newLi);
		}
	}

	var recipe_list = document.getElementById('recipe_list');
	var meal_list = document.getElementById('meal_list');

	Sortable.create(recipe_list, { group: { name: "recipes" } });

	Sortable.create(meal_list, { 
		group: { name: "recipes" },
		onAdd: addMeal,
		onRemove: removeMeal
	});
}());
</script>
