// Customize some colors -before- adding bootstrap
$navbar-inverse-bg:                #F63;
$navbar-inverse-border:            #777;
$navbar-inverse-link-color:        #333;
$navbar-inverse-link-hover-color:  #555 !default;
$navbar-inverse-brand-hover-color: #555 !default;
$navbar-inverse-link-active-bg:    lighten($navbar-inverse-bg, 5%) !default;

$brand-primary: #006FA7;
$body-bg: #FFF3DF;
@import "bootstrap-sprockets";
@import "bootstrap";


.sortable_list {
	min-height: 50px;
	width: 100%;
	border: dashed;
  border-width: 1px;
}

body {
	padding-top: 60px;
}

.flash-message {
	margin-top: 10px;
}

a {
  font-weight: bold;
}

.list-of-cards {
  padding: 10px;
  margin-bottom: 15px;
  background-color: lighten($brand-primary, 0%);
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;

  .card {
    width: 100%;
    background-color: white;
    border-color: black;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 2px 2px #888888;
    display: inline-block;

    .dish-name {
      max-width: 135px;
      overflow: hidden;
      display: inline-block;
    }

    .dish-controls {
      margin-top: -5px;
      margin-bottom: -5px;
      display: inline-block;
      float: right;

      .dish-count {
        font-size: 1.5em;
      }

      .dish-minus {
        font-size: 1.2em;
      }

      .dish-plus {
        font-size: 1.2em;
      }
    }
  }
}

a.delete_ingredient_button {
  color: $brand-danger;
}
