// Customize some colors -before- adding bootstrap
$navbar-inverse-bg:                #F63;
$navbar-inverse-border:            #777;
$navbar-inverse-link-color:        #333;
$navbar-inverse-link-hover-color:  #555 !default;
$navbar-inverse-brand-hover-color: #555 !default;
$navbar-inverse-link-active-bg:    lighten($navbar-inverse-bg, 5%) !default;

$brand-primary: #006FA7;
$body-bg: #FFF3DF;
@import "bootstrap-sprockets";
@import "bootstrap";


.sortable_list {
	min-height: 50px;
	width: 100%;
	border: dashed;
  border-width: 1px;
}

body {
	padding-top: 60px;
}

.flash-message {
	margin-top: 10px;
}

a {
  font-weight: bold;
}
