// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ordered_products {
	min-height: 50px;
	width: 200px;
	border: dashed;
  border-width: 1px;
}

#unordered_products {
	min-height: 50px;
	width: 200px;
	border: dashed;
  border-width: 1px;
}
